<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/img/ms-icon-144x144.png">

<body>

<div class="sidebar-wrapper">
	<div class="about-me">
		<a href="{{ site.url }}"><img class="logo" src="{{ site.site-logo }}" height="38" width="210"/></a>
		<h1 class="me">{{ site.about-headline }}</h1>
		<p class="me-copy">{{ site.intro-text }}</p>
		<a href="mailto:hello@joshhamilton.me" class="contact-me">Say Hello!</a>
	</div>
</div>

<div class="content-wrapper">
	{% if page.url == '/' %}
		{% for work in site.work %}
		{% for examples in work.examples %}
		{% if examples.is-featured %}
			{% if examples.image.is-full %}
			<div class="examples -full">
				<a href="{{ work.url }}">
					<img src="{{ examples.image.image }}" alt="{{ examples.caption }}"/>
					<div class="work-role">
						{% for role in work.role %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}
					</div>
				</a>
			</div>
			{% else %}
			<div class="examples -half">
				<a href="{{ work.url }}">
					<img src="{{ examples.image.image }}" alt="{{ examples.caption }}"/>
					<div class="work-role">
						{% for role in work.role limit: 4 %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}
					</div>
				</a>
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% endfor %}
	{% else %}
		{{ content }}
	{% endif %}
</div>

<footer class="footer">
	<p></p>
</footer>

</body>
</html>